{{ define "main" }}

<h1 class="display-1"><strong>{{ i18n "blog" }}</strong></h1>

<p class="lead">{{ .Description | markdownify }}</p>

<div>

  {{ range (.Paginator 50).Pages }}  
  <article class="py-2 card border-0">

    {{ with .Params.Summary_img}}
    <figure class="figure w-75 h-25 d-inline-block mb-1" >
      <img src="{{ . }}" class="figure-img img-fluid rounded img-fluid  " >
    </figure>
    {{ end }}
    
    <h1 class="" style="font-family: 'Bitter', serif;"><strong>
      <a href="{{ .RelPermalink }}" class="link-dark stretched-link">{{ .Title }}</a>
    </strong></h1>

    <p class="pb-0 mb-2 lh-lg">
      {{ .Summary | safeHTML }} <!-- automatically takes the first paragraph in the .md article -->
    </p>

    <p class="">
      <span title="{{.Date}}">
        <small class="text-muted"><time>{{ .Date.Format "2.01.2006" }}</time> {{ if .Params.External }} — <span class="post-host">for {{ .Params.External.Host }}</span> {{ end }}</small>
      </span>
    </p>

  </article>
  {{ end }}

</div>

{{ end }}
