<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- <meta property="og:image" content="mauth/mauth@2x.png" /> -->

  <title>{{/* .Title */}}</title>

  {{/*
  {{ $options := (dict "outputStyle" "compact" "targetPath" "mauth.css") }}
  {{ $style := resources.Get "sass/mauth.scss" | toCSS $options }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <!-- <link rel="stylesheet" href="likely.css"> -->
  <!-- <script src="/js/likely.js"></script> -->
  */}}


  <!-- <meta name="description" content="Хватит смотреть рекламу в метро! Авторизуйся в Московском метро за 1 тап и пользуйся интернетом свободно!"> -->
  <!-- <meta name="keywords" content="московское, метро, москва, авторизация, вайфай, wi-fi, wifi"> -->
  <!-- <meta name="robots" content="index, follow"> -->
  <!-- <meta name="language" content="English"> -->

</head>
<body>

  {{- block "easy" . }}{{- end }}

</body>
</html>
