{{ define "main" }}
<div class="hero-container">
  <div class="nav-wrapper">
  <nav class="fade-in one">
    <img class="photo" src="/images/marat-saytakov.jpeg" alt="Marat Photo">
    <h1 class="29yo">{{ i18n "marat" }} {{ i18n "saytakov" }}</h1>
    {{/*  <h2 class="">{{ .Site.Params.description | safeHTML }}</h2>  */}}
    <h2>{{i18n "desc2" | safeHTML}}</h2>

    <space class="smaller"></space>

    <ul class="menu">
      <li>
        <a href="/cv" class="nbsp"><b>{{ i18n "cv" }}</b></a>
      </li>
      <li>
        <a href="https://www.patreon.com/m4rr" class="nbsp"><b>{{ i18n "patreon" }}</b></a>
      </li>
      <li>
        {{ if ne .Site.Params.lang "en" }}
          <a href="https://blog.m4rr.ru/" class="nbsp"><b>{{ i18n "blog" }}</b></a>
        {{ else }}
          <a href="https://medium.com/@m4rr" class="nbsp"><b>Medium</b></a>
        {{ end }}
      </li>
    </ul>

    <h3>{{i18n "desc3" | safeHTML}}</h3>

    <div class="links">
      <a href="https://github.com/m4rr" title="GitHub"><i class="icon-github"></i></a><a href="https://stackoverflow.com/users/1204935/marat-saytakov" title="Stack Overflow"><i class="icon-stackoverflow"></i></a><a href="https://www.patreon.com/m4rr" title="Patreon"><i class="icon-pied-piper-squared"></i></a><a href="https://twitter.com/m4rr" title="Twitter"><i class="icon-twitter"></i></a><!--a href=""><i class="icon-reddit-alien"></i></a--><!--a href="/CitoyenMarat" title="Telegram"><i class="icon-paper-plane"></i></a--><a href="https://instagram.com/m4rr" title="Instagram"><i class="icon-instagram"></i></a><a class="disabled" disabled="disabled" title='{{i18n "fuck"}} LinkedIn'><i class="icon-linkedin"></i></a><a class="disabled" disabled="disabled" title='{{i18n "fuck"}} Facebook'><i class="icon-facebook"></i></a><a class="disabled" disabled="disabled" title='{{i18n "fuck"}} VK'><i class="icon-vkontakte"></i></a>
    </div>

    <!-- <h3>★ Wantr</h3> -->
    <!-- <p class="to-center"><a href="http://wantr.ru/m4rr">Wish List</a></p> -->

    <space></space>

    <ul>
      <strong>{{ i18n "projects" }}</strong>
      <li><a href="https://www.instagram.com/explore/tags/m4rround/"><i class="icon-instagram"></i>&nbsp;#m4rround</a></li>
      <li><a href="https://blog.m4rr.ru/"><i class="icon-certificate"></i>&nbsp;Passionflower</a></li>
      <li><a href="https://www.youtube.com/channel/UCWfRKs8owsEkERlwO1uwOFw"><i class="icon-youtube-play"></i>&nbsp;{{i18n "ktoto"}}</a></li>
      <li><a href="/CitoyenMarat"><i class="icon-paper-plane"></i>&nbsp;{{ i18n "citoyen" }}</a></li>
      <li><a href="/libmacho"><i class="icon-paper-plane"></i>&nbsp;{{ i18n "usefullinks" }}</a></li>
      <li><a href="https://medium.com/@m4rr"><i class="icon-medium"></i>&nbsp;{{ i18n "medium" }}</a></li>
      <!-- <li><i class="icon-anchor"></i>&nbsp;Day Skipper</li> -->
    </ul>

    <space></space>

    <ul>
      <strong>{{ i18n "talks" }}</strong>

      <li><a href="https://podcasts.apple.com/ru/podcast/%D1%80%D0%B0%D1%81%D1%81%D0%BF%D1%80%D0%B0%D1%88%D0%B8%D0%B2%D0%B0%D1%8E-%D0%BC%D0%B0%D1%80%D0%B0%D1%82%D0%B0-%D0%BE-%D0%B7%D0%B8%D0%BC%D0%BE%D0%B2%D0%BA%D0%B5-%D0%B2-%D1%82%D0%B0%D0%B9%D0%BB%D0%B0%D0%BD%D0%B4%D0%B5/id1344076422?i=1000451769044">{{i18n "busy_3_1"}}</a></li>

      <li><a href="https://www.patreon.com/posts/30355622">{{i18n "busy_aftershow"}}</a></li>

      <li><a href="https://podcasts.apple.com/ru/podcast/%D0%BE%D0%B1%D1%81%D1%83%D0%B6%D0%B4%D0%B0%D0%B5%D0%BC-%D1%81-%D0%BC%D0%B0%D1%80%D0%B0%D1%82%D0%BE%D0%BC-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D1%8E-%D1%82%D0%B2%D0%B8%D1%82%D1%82%D0%B5%D1%80/id1403137546?i=1000445289589">{{i18n "showroom_9"}}</a></li>

      <li><a href="https://podcasts.apple.com/ru/podcast/%D0%BF%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F-%D1%81-%D0%BC%D0%B0%D1%80%D0%B0%D1%82%D0%BE%D0%BC-%D1%81%D0%B0%D0%B9%D1%82%D0%B0%D0%BA%D0%BE%D0%B2%D1%8B%D0%BC/id1403137546?i=1000445289601">{{i18n "showroom_6"}}</a></li>

      <li><a href="https://www.codementor.io/m4rr">28 expert sessions</a>, Codementor</li>
      <li><a href="https://blog.m4rr.ru/all/size-classes-addition/">Size Classes on iOS</a>, CocoaHeads Moscow</li>
      <li><a href="https://habrahabr.ru/company/mailru/blog/244673/">Custom Keyboards</a>, · · ·</li>
      <li>{{i18n "course"}}<a href="https://vimeo.com/227407469"><i class="icon-vimeo"></i> iOS Dev. 101 on Swift</a><!--span class="now">now</span-->{{i18n "class"}}@ Moscow Coding School</li><!-- https://moscoding.ru/swift/ -->
    </ul>

    <hr>

    <p class="app">
      <strong><a href="https://apps.apple.com/app/zero-width-joiner/id1488117519?l=en">Zero Width Joiner</a> <span class="now">{{ i18n "new" }}</span></strong><br />
      The only Unicode inspector for ZWJ sequences! Zero-Width Non-Joiner is also supported.
      <br />
      <a class="call-to-action" href="https://apps.apple.com/app/zero-width-joiner/id1488117519?l=en">App Store</a>
      <span class="splitter"></span>
      <a href="https://twitter.com/m4rr">{{i18n "promo"}}</a>
      <span class="splitter"></span>
      <a href="/zwj/privacy-policy/">{{ i18n "privacy" }}</a>
    </p>

    <p class="app">
      <strong><a href="https://itunes.apple.com/app/numpad/id1429855047?ls=1&mt=12">Numpad</a> <span class="now">{{ i18n "formac" }}</span></strong><br />
      {{i18n "numpad_desc"}}<br />
      <a class="call-to-action" href="https://itunes.apple.com/app/numpad/id1429855047?ls=1&mt=12">Mac App Store</a>
      <span class="splitter"></span>
      <a href="/numpad/privacy-policy/">{{ i18n "privacy" }}</a>
    </p>

    <p class="app">
      <strong><a href="https://itunes.apple.com/app/chars/id918947313?mt=8">{{ i18n "chars2" }}</a></strong>&nbsp;&nbsp;<span class="stars"><heart></heart></span>
      <br />
      {{ i18n "chars2_desc" | safeHTML }}<br />
      <a class="call-to-action" href="https://itunes.apple.com/app/chars/id918947313?mt=8">App Store</a>
      <span class="splitter"></span>
      <a href="https://chars.app/">chars.app</a>
    </p>

    <!-- <p class="app">
      <strong><a href="https://itunes.apple.com/app/rating-stars-5-out-of-5/id1135086336?ls=1&mt=8">Stars</a></strong>
      <br />
      Аппка, которой не хватало на  ᴡᴀᴛᴄʜ.<br />
      Ставьте рейтинг играющей на айфоне песне — прямо на часах.<br />
      <a class="call-to-action" href="https://itunes.apple.com/app/rating-stars-5-out-of-5/id1135086336?ls=1&mt=8">App Store</a>
      <span class="splitter"></span>
      <a href="https://www.producthunt.com/tech/rating-stars">Product Hunt</a>
      <span class="splitter"></span>
      <a href="https://m4rr.ru/stars">{{ i18n "promo" }}</a>
    </p> -->

    <p class="app">
        <strong><a href="https://itunes.apple.com/app/easy-percent-much-easier-calc/id740111096?mt=8">{{ i18n "easy" }}</a></strong>&nbsp;&nbsp;<span class="stars"><star></star><star></star><star></star><star></star><star></star></span><br />
        {{ i18n "easy_desc" }}<br />
        <a class="call-to-action" href="https://itunes.apple.com/app/easy-percent-much-easier-calc/id740111096?mt=8">App Store</a>
        <span class="splitter"></span>
        <a href="/easy-percent/privacy-policy/">{{ i18n "privacy" }}</a>
      </p>

    <!-- <p class="app">
      <strong><a href="https://itunes.apple.com/ru/app/moscow-metro-wi-fi-authorization/id1041801794?l=ru&mt=8">{{ i18n "mauth" }}</a></strong>
      <br />
      {{ i18n "mauth_desc" }}<br />
      <a class="call-to-action" href="https://itunes.apple.com/ru/app/moscow-metro-wi-fi-authorization/id1041801794?l=ru&mt=8">App Store</a>
      <span class="splitter"></span>
      <a href="https://github.com/m4rr/mauth">GitHub</a>
      <span class="splitter"></span>
      <a href="https://m4rr.ru/mauth">{{ i18n "promo" }}</a>
      <span class="splitter"></span>
      <a href="https://blog.m4rr.ru/all/moscow-metro-wi-fi-authorization/">{{ i18n "blog" }}</a>
    </p> -->

    <hr>

    <p class="app geek">
      <a href="/DUMP2016" class="rightimage"><img align="right" alt="Стикеры для телеграма: хуяк-хуяк и в продакшен / Slap shit together and deploy" title="Хуяк-хуяк и в продакшен / Slap shit together and deploy" src="/images/huyak-production@2x.png" width="60" /></a>
      <strong><a href="/DUMP2016">{{i18n "huyak"}}</a></strong><br />
      {{i18n "huyak_desc" | safeHTML}}<br />
      <a class="call-to-action" href="/DUMP2016">Telegram</a>
      <span class="splitter"></span>
      <a class="call-to-action imessage" href="https://itunes.apple.com/app/dump-stickers/id1141655638?ls=1&mt=8">iMessage</a>
      <span class="splitter"></span>
      <a href="https://github.com/m4rr/HuyakStickers">GitHub</a>
      <span class="splitter"></span>
      <a href="https://blog.m4rr.ru/all/huyak-stickers/">{{ i18n "blog" }}</a>
    </p>

    <p class="app">
      <strong><a href="/USDRUB_bot">Money Bot</a></strong>&nbsp;
      <span class="nbsp"> {{ i18n "for" }} <i class="icon-paper-plane"></i></span>
      <br />
      {{i18n "moneybot_desc"}}<br />
      <a class="call-to-action" href="/USDRUB_bot">Send Message</a>
      <span class="splitter"></span>
      <a href="https://github.com/m4rr/money_bot">GitHub</a>
      <span class="splitter"></span>
      <a href="https://twitter.com/m4rr/status/1101376723772334080">{{i18n "promo"}}</a>
    </p>

    <hr>

    <p class="donate">
      <strong>{{i18n "donate"}}<sup>₿</sup></strong>&nbsp;&nbsp;<span class="stars"><claps></claps></span>
      <br />
      <a href="bitcoin:3Mt8QW6Q3pFU5663CBTvqaupuN4V54z2Zb">3Mt8QW6Q3pFU5663CBTvqaupuN4V54z2Zb</a>
    </p>

    <hr>

    <p>
      <!-- <li class="globe"> -->
        <!-- .globe: https://en.wikipedia.org/wiki/Axial_tilt -->
        {{ if ne .Site.Params.lang "en"}}
        <a href="https://saytakov.com/" class="globe"><i class="icon-globe"></i></a>
        {{ else }}
        <a href="https://m4rr.ru/" class="globe"><i class="icon-globe"></i></a>
        {{ end }}
      <!-- </li> -->

      <!-- <i class="mic icon-mic-2"></i> -->
    </p>

  </nav>
  </div>

  <div class="map-wrapper">
    <div id="map" class="map fade-in two"></div>
  </div>

  <div class="travel-stat neon-text">

    <span class="que">{{ i18n "where"}}</span>
    <br>

      <!-- https://tripster.ru/m4rr/ -->

      <p>{{ i18n "visited_countries" .Site.Params.countries | safeHTML }} {{ i18n "visited_cities" .Site.Params.cities }}. <!--span class="travel-map">✈</span--></p>
  </div>
</div>

<script>
  {{ if ne .Site.Params.lang "en" }}
    {{/*  .ru  */}}
    const map_locale = "ru";
    const tokenID = "eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlZIQzZQQVVTUTIifQ.eyJpc3MiOiJZNVA3QVg5VU0yIiwiaWF0IjoxNTY2NDQwMjY3LCJleHAiOjE2NjE0NzIwMDAsIm9yaWdpbiI6Imh0dHBzOi8vbTRyci5ydSJ9.QQ8egxYwImRuBi9Sybh-bLTEPB7Vqov_pObeTmL-oHEDW8TudkyiCOvurFJ1QFLBI970w_iAuzZJzwOuv5B9vg";
  {{ else }}
    {{/*  .com  */}}
    const map_locale = "en";
    const tokenID = "eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlZIQzZQQVVTUTIifQ.eyJpc3MiOiJZNVA3QVg5VU0yIiwiaWF0IjoxNTY2NjU4MjIwLCJleHAiOjE2NzA1NDQwMDAsIm9yaWdpbiI6Imh0dHBzOi8vc2F5dGFrb3YuY29tIn0.7fByTx18E9yo5S56xX5wmLD6UC3RzWzm8TUG_NtGgT13lF37u8XUEr9Ai4g4f-sYnvG-NPtRWqBu7OKf4tcuXg";
  {{ end }}
</script>

{{ block "scripts" . }}{{ partialCached "scripts.html" . }}{{ end }}

{{ end }}
